<c-card class="mb-4">
  <c-card-header>
    <strong>Hello, Welcome to the coding interview!</strong><br>
    <strong style="color: red;">Please load Job 100000 info for default below:</strong>
  </c-card-header>
  <c-card-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel for="jobNumber">CMJOBMASNO</label>
        <input cFormControl id="jobNumber" name="jobNumber" placeholder="1" type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="quadArea">QUAD AREA</label>
        <input cFormControl id="quadArea" name="quadArea"  placeholder="NSOH" type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="location">Location</label>
        <input cFormControl id="location" name="location"  placeholder="12 Carlotta St, Artarmon NSW 2064" type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="qm">QU Manager</label>
        <input cFormControl id="qm" name="qm"  placeholder="Rock" type="text"/>
      </div>
    </form>
  </c-card-body>
</c-card>